<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>智能诊断-工业AI</title>
</head>

<body>
  <!-- 引入公共页头 -->
  <%= require("html-loader!../../common/header/index.html") %>
    <%= require("html-loader!../header/index.html") %>
      <section class="module wow fadeInUp">
        <div class="cont">
          <div class="cont-title">
            机泵监测诊断整体解决方案
            <span>三线合一：机泵有限监测、无线监测、离线巡检</span>
          </div>
        </div>
        <div class="cont">
         <div class="center">
          <img src="/public/img/sjhy01.png" alt="">
         </div>
        </div>
        <div class="cont">
         <div class="center">
           <h2 class="title">石油化工行业优势</h2>
          <img src="/public/img/sjhy02.png" alt="">
         </div>
        </div>
      </section>
      <section class="module wow fadeInUp" style="background-color: #f8f8f8;">
        <div class="cont">
          <div class="center">
            <h2 class="title">技术能力</h2>
            <img src="/public/img/sjhy03.png" alt="">
          </div>
        </div>
      </section>

      <!-- 引入公共页尾 -->
      <%= require("html-loader!../../common/footer/index.html") %>
</body>

</html>