<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>智能诊断-工业AI</title>
</head>

<body>
  <!-- 引入公共页头 -->
  <%= require("html-loader!../../common/header/index.html") %>
    <%= require("html-loader!../header/index.html") %>
      <section class="module info-container">
        <img src="/public/img/conduit_banner.jpg" class="wow fadeInUp" alt="">
        <div class="view-cont center">
          <div class="head">
            <h2 class="title wow fadeInUp">国家管网关键设备远程监测与诊断系统</h2>
            <div class="note wow fadeInUp">
              管道运输行业是国家能源工业的命脉，现代装备日趋大型化、高速化、自动化、智能化，特别是广泛应用于能源储运的大型动装备与生产过程紧密相连，一旦发生故障可能会导致系统停机、生产中断，引起重大经济损失，甚至会出现恶性生产事故，造成极其严重的后果。国家管网关键设备远程监测与诊断中心系统将国家管网公司所属压气站、储气库、输油站及LNG接收站关键设备已安装监测系统数据接入，实现关键设备集中监测、设备运行管理、智能预警与诊断、健康管理的功能。可实现关键设备完整性全生命周期管理和关键设备监测全天候、全覆盖、全闭合等功能，为关键设备提供运维保障技术支撑，提升管网公司关键设备运维管理智能化水平。
            </div>
            <div class="body">
              <img src="/public/img/conduit01.jpg" class="wow fadeInUp" alt="">
              <img src="/public/img/conduit02.jpg" class="wow fadeInUp" alt="">
            </div>
          </div>
        </div>
      </section>

      <!-- 引入公共页尾 -->
      <%= require("html-loader!../../common/footer/index.html") %>
</body>

</html>