<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>智能报警-工业AI</title>
</head>

<body>
  <!-- 引入公共页头 -->
  <%= require("html-loader!../../common/header/index.html") %>
  <%= require("html-loader!../header/index.html") %>
    <section class="module cont1 wow fadeInUp">
      <div class="view-cont center">
        <div class="title">
          外包服务
          <div class="note">
            公司已在广西石化、四川石化等十几个地方派驻了常驻现场的诊断服务团队，这些服务团队与北京的远程监测诊断人员相配合，为企业各类型的 动设备提供状态监测和故障诊断外包服务，促进企业实现预知维修。所服务企业应用 BH5000 在线监测诊断系统 和 BH550 智能巡检诊断系统，采用关键大型机组 在线监测诊断、其他机组离线监测诊断相结合的模 式，建立了动设备监测诊断中心平台。数年来，博华科技为企业关键机组故障的解决提供了大量卓有成效的检维修指导建议，避免了可观数量的设备重复事故，节约了大量资金。
          </div>
        </div>
      </div>
    </section>
    <section class="module cont1 wow fadeInUp" style="background-color: #f8f8f8;">
      <div class="view-cont center">
        <div class="title">
          服务流程
        </div>
        <img style="display:block;margin: 0 auto 5%;" src="/public/img/service09.png" alt="">
        <img style="display:block;margin: 0 auto 5%;" src="/public/img/service10.png" alt="">
      </div>
    </section>
    <!-- 引入公共页尾 -->
    <%= require("html-loader!../../common/footer/index.html") %>
</body>

</html>