<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>传感器-工业互联网</title>
</head>

<body>
  <!-- 引入公共页头 -->
  <%= require("html-loader!../../common/header/index.html") %>
    <section class="banner scroll-line" style="background-image: url(/public/img/industrial-banner.jpg);">
      <div class="text-container center">
        <div class="text">
          <div class="cn wow fadeInLeft">工业互联网</div>
          <div class="en wow fadeInLeft" data-wow-delay=".3s">THE INDUSTRIAL INTERNET</div>
        </div>
      </div>
    </section>
    <section class="cate-info">
      <div class="main-info center wow fadeInUp">
        平台聚焦石油化工、轨道交通、船舶动力、电力、装备制造等多个行业，为行业设备提供状态监测、故障预警、维修决策及生产排程优化等业务功能，集设备运行状态感知、数据分析、数据决策等解决方案于一体的物联网应用平台，旨在保障企业设备长周期、高效、节能、稳定的运行。
      </div>
    </section>
    <section class="cate-nav-wrap">
      <ul class="cate-nav-list center">
        <li class="wow fadeInRight cate-nav-item">
          <a href="industrial_internet.html">应用层</a>
        </li>
        <li class="wow fadeInRight cate-nav-item" data-wow-delay=".2s">
          <a href="industrial_platform.html">平台层</a>
        </li>
        <li class="wow fadeInRight cate-nav-item" data-wow-delay=".4s">
          <a href="industrial_blockchain.html">区块链</a>
        </li>
        <li class="wow fadeInRight cate-nav-item" data-wow-delay=".6s">
          <a href="industrial_edge.html">边缘端</a>
        </li>
        <li class="wow fadeInRight cate-nav-item active" data-wow-delay=".8s">
          <a href="industrial_sensor.html">传感器</a>
        </li>
      </ul>
    </section>
    <section class="module cont1 wow fadeInUp">
      <div class="view-cont center">
        <div class="title">
          传感器
          <div class="note">
            加速度传感器、电涡流传感器、光电传感器、动态压力传感器、速度传感器、温度传感器
          </div>
        </div>
        <ul class="pro-list">
          <li class="pro-item wow fadeInUp" data-wow-delay=".1s">
            <div class="img" style="background-image: url(/public/img/sensor01.png);"></div>
            <div class="pro-text">
              <div class="pro-title">加速度传感器（冲击/振动传感器）：PCB 608A11/EX</div>
              <div class="pro-param">
                <dl>
                  <dd>
                    <span>灵敏度</span>
                    <span>100mv/g</span>
                  </dd>
                  <dd>
                    <span>频响范围</span>
                    <span>0.5Hz-10KHz</span>
                  </dd>
                  <dd>
                    <span>量程范围</span>
                    <span>-50g-50g</span>
                  </dd>
                  <dd>
                    <span>抗冲击</span>
                    <span>5000g pk</span>
                  </dd>
                  <dd>
                    <span>非线性</span>
                    <span>±1%</span>
                  </dd>
                  <dd>
                    <span>温度范围</span>
                    <span>-54-121°C</span>
                  </dd>
                  <dd>
                    <span>防护等级</span>
                    <span>IP68</span>
                  </dd>
                  <dd>
                    <span>防爆等级</span>
                    <span>Ex ia IICT4（本安型）</span>
                  </dd>
                </dl>
              </div>
            </div>
          </li>
          <li class="pro-item wow fadeInUp" data-wow-delay=".2s">
            <div class="img" style="background-image: url(/public/img/sensor02.png);"></div>
            <div class="pro-text">
              <div class="pro-title">电涡流传感器（瞬时转速/键相）：Metrix 11mm</div>
              <div class="pro-param">
                <dl>
                  <dd>
                    <span>灵敏度</span>
                    <span>3.94mv/um</span>
                  </dd>
                  <dd>
                    <span>频响范围</span>
                    <span>0Hz-10KHz</span>
                  </dd>
                  <dd>
                    <span>量程范围</span>
                    <span>4mm</span>
                  </dd>
                  <dd>
                    <span>线性标注偏差</span>
                    <span>小于± 0.1mm</span>
                  </dd>
                  <dd>
                    <span>温度范围</span>
                    <span>-30-120°C</span>
                  </dd>
                  <dd>
                    <span>防爆等级</span>
                    <span>Ex ia IICT4（本安型）</span>
                  </dd>
                </dl>
              </div>
            </div>
          </li>
          <li class="pro-item wow fadeInUp" data-wow-delay=".3s">
            <div class="img" style="background-image: url(/public/img/sensor03.png);"></div>
            <div class="pro-text">
              <div class="pro-title">光电传感器（键相）：IMF OGP700 或 LE2121</div>
              <div class="pro-param">
                <dl>
                  <dd>
                    <span>供电电压</span>
                    <span>10-40V DC</span>
                  </dd>
                  <dd>
                    <span>额定工作距离</span>
                    <span>2.5mm</span>
                  </dd>
                  <dd>
                    <span>有效工作距离</span>
                    <span>5mm</span>
                  </dd>
                  <dd>
                    <span>安装方式</span>
                    <span>支架螺纹安装</span>
                  </dd>
                  <dd>
                    <span>温度范围</span>
                    <span>-40-80℃</span>
                  </dd>
                  <dd>
                    <span>防护等级</span>
                    <span>IP67</span>
                  </dd>
                </dl>
              </div>
            </div>
          </li>
          <li class="pro-item wow fadeInUp" data-wow-delay=".4s">
            <div class="img" style="background-image: url(/public/img/sensor04.png);"></div>
            <div class="pro-text">
              <div class="pro-title">动态压力传感器：德国威卡WIKA</div>
              <div class="pro-param">
                <dl>
                  <dd>
                    <span>输出信号</span>
                    <span>4-20mA</span>
                  </dd>
                  <dd>
                    <span>精度</span>
                    <span>0.5%</span>
                  </dd>
                  <dd>
                    <span>频响范围</span>
                    <span>0Hz-2000Hz</span>
                  </dd>
                  <dd>
                    <span>量程范围</span>
                    <span>0-25MPa</span>
                  </dd>
                  <dd>
                    <span>温度范围</span>
                    <span>-40-200°C</span>
                  </dd>
                  <dd>
                    <span>防爆等级</span>
                    <span>Ex ia IICT4（本安型）</span>
                  </dd>
                </dl>
              </div>
            </div>
          </li>
          <li class="pro-item wow fadeInUp" data-wow-delay=".5s">
            <div class="img" style="background-image: url(/public/img/sensor05.png);"></div>
            <div class="pro-text">
              <div class="pro-title">速度传感器：Metrix或Bently</div>
              <div class="pro-param">
                <dl>
                  <dd>
                    <span>灵敏度</span>
                    <span>100mv/g</span>
                  </dd>
                  <dd>
                    <span>频响范围</span>
                    <span>4.5Hz-5KHz</span>
                  </dd>
                  <dd>
                    <span>量程范围</span>
                    <span>0-1000mm/s</span>
                  </dd>
                  <dd>
                    <span>非线性</span>
                    <span>±2%</span>
                  </dd>
                  <dd>
                    <span>温度范围</span>
                    <span>-54-121℃</span>
                  </dd>
                  <dd>
                    <span>防护等级</span>
                    <span>IP68</span>
                  </dd>
                  <dd>
                    <span>防爆等级</span>
                    <span>Ex ia IICT4（本安型）</span>
                  </dd>
             
                </dl>
              </div>
            </div>
          </li>
          <li class="pro-item wow fadeInUp" data-wow-delay=".6s">
            <div class="img" style="background-image: url(/public/img/sensor06.png);"></div>
            <div class="pro-text">
              <div class="pro-title">温度传感器</div>
              <div class="pro-param">
                <dl>
                  <dd>
                    <span>测温元件</span>
                    <span>PT100</span>
                  </dd>
                  <dd>
                    <span>温度范围</span>
                    <span>-40-85℃</span>
                  </dd>
                  <dd>
                    <span>防护等级</span>
                    <span>IP66</span>
                  </dd>
                  <dd>
                    <span>防爆等级</span>
                    <span>Ex ia IICT4（本安型）</span>
                  </dd>
                </dl>
              </div>
            </div>
          </li>
        </ul>
      </div>
    </section>
    <!-- 引入公共页尾 -->
    <%= require("html-loader!../../common/footer/index.html") %>
</body>

</html>