<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>智能报警-工业AI</title>
</head>

<body>
  <!-- 引入公共页头 -->
  <%= require("html-loader!../../common/header/index.html") %>
  <%= require("html-loader!../header/index.html") %>
    <section class="module company-info wow fadeInUp">
      <div class="view-cont center">
        <div class="left-img wow fadeInLeft">
          <img src="/public/img/company.jpg" alt="">
        </div>
        <div class="right-info wow fadeInRight">
          <div class="title">
            北京博华信智科技股份有限公司
            <div class="note">
              <p>北京博华信智科技股份有限公司（简称博华科技），成立于2006年，主要从事工业互联网装备状态监测、故障诊断，服务于石油化工、煤化工、冶金、电力、风力发电、船舶动力、市政、轨道交通等行业。公司产品包括离线巡检系统、往复压缩机在线监测诊断系统、旋转机械在线监测诊断系统、关键机泵在线监测诊断系统、风力发电机在线监测诊断系统、发动机在线监测系统、无线监测诊断系统、动设备专业管理平台、远程监测诊断中心、RCM评估等整体解决方案。取得了多项专利和计算机软件著作权，具备软件产品认证和软件企业认证，并获得省部级科技进步奖特等奖。
              </p>
              <p>
                在工业互联网领域，博华科技团队聚焦于装备智能运维方向，最近十年陆续完成了对石油化工、船舶动力、电力、轨道交通、装备制造等行业累计数千台大中型机组的在线监测和诊断，基于自主研发的智能边缘计算网关等产品完成对监测机组的实时监测与预警，提供从边缘计算到工业云平台端到端的整体解决方案，使生产企业减损增效与安全长周期运营，通过“互联网+工业服务”形式帮助装备制造企业实现服务型制造转型。
              </p>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="module history-container wow fadeInUp" style="background-color: #f8f8f8;">
      <div class="view-cont center">
        <h2 class="title">发展历程</h2>
        <ul class="history-list">
          <li class="history-item wow fadeInUp" data-wow-delay=".6s">
            <div class="date">2006年</div>
            <div class="cont">
              <p>北京博华信智科技股份有限公司正式成立</p>
            </div>
          </li>
          <li class="history-item wow fadeInUp" data-wow-delay=".6s">
            <div class="date">2009年</div>
            <div class="cont">
              <p>北京市高新技术企业认定</p>
            </div>
          </li>
          <li class="history-item wow fadeInUp" data-wow-delay=".6s">
            <div class="date">2011年</div>
            <div class="cont">
              <p>往复压缩机在线监测系统获得省部级科技进步奖特等奖</p>
            </div>
          </li>
          <li class="history-item wow fadeInUp" data-wow-delay=".6s">
            <div class="date">2012年</div>
            <div class="cont">
              <p>北京市纳税信用A级企业</p>
            </div>
          </li>
          <li class="history-item wow fadeInUp" data-wow-delay=".6s">
            <div class="date">2015年</div>
            <div class="cont">
              <p>获得《清华金融评论》首届中国挂牌股份公司最具投资价值企业50强</p>
              <p>获得中国工业互联网大会“2015年度中国工业互联网最佳解决方案奖”</p>
              <p>成立子公司博华安创，承担船用和机载产品研发</p>
            </div>
          </li>
          <li class="history-item wow fadeInUp" data-wow-delay=".6s">
            <div class="date">2016年</div>
            <div class="cont">
              <p>获得计算机系统集成三级资质</p>
              <p>基于工业互联网装备智能健康监控北京市工程实验室认定</p>
            </div>
          </li>
          <li class="history-item wow fadeInUp" data-wow-delay=".6s">
            <div class="date">2018年</div>
            <div class="cont">
              <p>作为联合体单位成功申报“流程行业（石油化工）工业互联网平台试验测试”项目</p>
              <p>获得中国工业设备管理“辉煌40年”技术成果奖</p>
            </div>
          </li>
          <li class="history-item wow fadeInUp" data-wow-delay=".6s">
            <div class="date">2019年</div>
            <div class="cont">
              <p>成功申报工信部“工业互联网创新发展工程—边缘协议解析及管理”</p>
              <p>作为国内成功案例企业入选工信部工业互联网白皮书（2019）</p>
              <p>成功申报工信部“基于工业互联网平台+区块链的边缘设备接入系统”项目</p>
            </div>
          </li>
          <li class="history-item wow fadeInUp" data-wow-delay=".6s">
            <div class="date">2020年</div>
            <div class="cont">
              <p>成功申报工信部“重点工业设备上云解决方案应用推广公共服务平台”项目</p>
            </div>
          </li>
        </ul>
      </div>
    </section>
    <section class="module wow fadeInUp team-container">
      <div class="view-cont center">
        <h2 class="title">我们的团队</h2>
        <ul class="team-list">
          <li class="team-item">
            <div class="team-title">
              <i class="icon">
                <img src="/public/img/team01.png" alt="">
              </i>
              <span>研发能力</span>
            </div>
            <div class="info">
              <p>
                拥有多名有博士、硕士、和业内专家组成的研发团队。是国内同时具备离心、往复压缩机和机泵监测系统及设备信息化管理平台，并在同一个平台下无缝融合，能够为企业提供工业互联网装备智能运维从边缘计算到工业云平台端到端的整体解决方案。
              </p>
            </div>
          </li>
          <li class="team-item">
            <div class="team-title">
              <i class="icon">
                <img src="/public/img/team02.png" alt="">
              </i>
              <span>市场能力</span>
            </div>
            <div class="info">
              <p>
                具备完善的销售网络及售后服务体系，公司以北京为总部，全国设立了大庆、沈阳、乌鲁木齐、西安、武汉、成都、南京、广州八个办事处，大庆、沈阳、乌鲁木齐、郑州、长沙、武汉、钦州、成都八个售后服务中心，销售及服务网络遍布全国。三大石油公司市场份额位居国内前列。
              </p>
            </div>
          </li>
          <li class="team-item">
            <div class="team-title">
              <i class="icon">
                <img src="/public/img/team03.png" alt="">
              </i>
              <span>服务能力</span>
            </div>
            <div class="info">
              <p>
                具备国内同行业较强大的现场工程及诊断服务团队，能够提供从传感器安装到整套系统上线的交钥匙工程服务，并且能够为用户提供最专业化的诊断服务外包能力。
              </p>
            </div>
          </li>
          <li class="team-item">
            <div class="team-title">
              <i class="icon">
                <img src="/public/img/team04.png" alt="">
              </i>
              <span>生产能力</span>
            </div>
            <div class="info">
              <p>
                拥有近3000㎡的现代化生产基地，并拥有专业的生产、测试、质保系统和体系。
              </p>
            </div>
          </li>
          <li class="team-item">
            <div class="team-title">
              <i class="icon">
                <img src="/public/img/team05.png" alt="">
              </i>
              <span>创新能力</span>
            </div>
            <div class="info">
              <p>
                具备开拓工业互联网新行业、新需求的创新能力，稳步开展T2B2C赋能中小企业设备健康管理等诸多新领域。
              </p>
            </div>
          </li>
        </ul>
      </div>
    </section>
    <section class="module wow fadeInUp" style="background-color: #f8f8f8;">
      <div class="view-cont center">
        <img src="/public/img/company-img.jpg" alt="">
      </div>
    </section>
    <!-- 引入公共页尾 -->
    <%= require("html-loader!../../common/footer/index.html") %>
</body>

</html>