<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>智能报警-工业AI</title>
</head>

<body>
  <!-- 引入公共页头 -->
  <%= require("html-loader!../../common/header/index.html") %>
    <%= require("html-loader!../header/index.html") %>
      <section class="module cont1 wow fadeInUp">
        <div class="view-cont">
          <div class="title">
            致投资者的一封信
          </div>
          <div class="main-content">
            <div class="center-content center">
              <b>尊敬的投资者：</b>
              <p>
                首先感谢您对博华科技的关注。如果您有机会浏览了我们的网站和年报，相信您对我们有了一定的了解。在这里再叙述一下我们公司和团队的一些特点供您参考。
              </p>
              <p>
                博华科技自2006年成立以来，一直在稳步地向前发展。虽然我们的规模还不大，但我们聚焦专注于工业装备健康监测领域并在这个细分市场处于领先地位。以下是过去近十年来我们累积下来的核心竞争力：
              </p>
              <p>
                1、研发能力：拥有多名有博士、硕士、和业内专家组成的研发团队。是国内同时具备离心、往复压缩机和机泵监测系统及设备信息化管理平台，并在同一个平台下无缝融合，能够为企业提供工业互联网装备健康监测与智能维修云平台整体解决方案。
              </p>
              <p>
                2、市场能力：具备完善的销售网络及售后服务体系，目前公司以北京为总部，全国设立了大庆、沈阳、乌鲁木齐、西安、武汉、成都、南京、广州八个办事处，大庆、沈阳、乌鲁木齐、郑州、长沙、武汉、钦州、成都八个售后服务中心，销售及服务网络遍布全国。三大石油公司市场份额位居国内前列。
              </p>
              <p>
                3、服务能力：具备国内同行业较强大的现场工程及诊断服务团队，能够提供从传感器安装到整套系统上线的交钥匙工程服务，并且能够为用户提供最专业化的诊断服务外包能力。
              </p>
              <p>
                4、生产能力：拥有近3000平的现代化生产基地，并拥有专业的生产、测试、质保系统和体系。
              </p>
              <p>
                5、创新能力：具备开拓工业互联网新行业、新需求的创新能力，稳步开展诸多新领域。
              </p>
              <p>
                我们服务的用户都是大型的国有企业、军工单位，并且我们的产品和服务为用户装备的安全、长周期运行起着保驾护航的作用，所以我们的工作对用户十分重要，这也是我们公司存在的价值，也是我们公司的使命所在。我们交付的系统和服务得到了用户的充分认可和好评，我们用我们的技术帮助用户解决了他们实际工作中的问题。我们的团队在近十年的发展中得到了充分的锻炼和提高，我们拥有一支由研发、生产、现场工程、售后服务、诊断服务、管理运营组成的高素质、凝聚力强、战斗力强的团队。
              </p>
              <p>
                目前中国经济进入新常态，中国制造2025成为国家发展的重要战略，装备制造领域成为各个国家经济发展的重中之重。德国提出工业4.0的理念，美国则推出工业互联网的概念，各个国家在装备制造领域的竞争日趋激烈。博华科技根据目前行业发展的新形势，已明确地制定出十三五期间公司发展的战略规划，将逐步推出工业互联网领域相关产品并在各个行业推广应用。十年磨一剑，厚积薄发，我们将把握行业发展的机遇，在踏踏实实地交付令用户满意的产品和服务的前提下实现跨越式发展。相信博华科技在未来十年中国从制造大国到制造强国的发展过程中能够贡献出自己的一份力量！
              </p>
              <p>
                再次感谢您的关注，希望有机会与您合作共同成长。
              </p>
              <p>
                <br>
              </p>
              <b class="fr">博华科技董事会</b>
            </div>
          </div>
        </div>
      </section>
      <!-- 引入公共页尾 -->
      <%= require("html-loader!../../common/footer/index.html") %>
</body>

</html>