<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>智能报警-工业AI</title>
</head>

<body>
  <!-- 引入公共页头 -->
  <%= require("html-loader!../../common/header/index.html") %>
  <%= require("html-loader!../header/index.html") %>
    <section class="module honor-container wow fadeInUp">
      <ul class="honor-list">
        <li class="honor-item wow fadeInUp">
          <div class="honor-view center">
            <div class="img wow fadeInLeft">
              <img src="/public/img/honor01.jpg" alt="">
            </div>
            <div class="title wow fadeInRight">
              2015年获得“中国最具投资价值企业50强”荣誉称号
            </div>
          </div>
        </li>
        <li class="honor-item wow fadeInUp">
          <div class="honor-view center">
            <div class="img wow fadeInLeft">
              <img src="/public/img/honor01.jpg" alt="">
            </div>
            <div class="title wow fadeInRight">
              2015年获得“中国最具投资价值企业50强”荣誉称号
            </div>
          </div>
        </li>
        <li class="honor-item wow fadeInUp">
          <div class="honor-view center">
            <div class="img wow fadeInLeft">
              <img src="/public/img/honor01.jpg" alt="">
            </div>
            <div class="title wow fadeInRight">
              2015年获得“中国最具投资价值企业50强”荣誉称号
            </div>
          </div>
        </li>
        <li class="honor-item wow fadeInUp">
          <div class="honor-view center">
            <div class="img wow fadeInLeft">
              <img src="/public/img/honor01.jpg" alt="">
            </div>
            <div class="title wow fadeInRight">
              2015年获得“中国最具投资价值企业50强”荣誉称号
            </div>
          </div>
        </li>
      </ul>
    </section>
    <!-- 引入公共页尾 -->
    <%= require("html-loader!../../common/footer/index.html") %>
</body>

</html>