<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>智能报警-工业AI</title>
</head>

<body>
  <!-- 引入公共页头 -->
  <%= require("html-loader!../../common/header/index.html") %>
  <%= require("html-loader!../header/index.html") %>
    <section class="module cont1 wow fadeInUp">
      <div class="view-cont center">
        <div class="title">
          专家团队——服务保障
          <div class="note">
            公司拥有40余人的故障诊断服务团队,团队成员包括多名业内权威知名专家具有丰富的现场经验和深厚的理论基础，是在石化领域最早推广和应用状态监测与故障诊断技术的专家，在设备故障诊断和先进技术应用方面具有独特优势。
          </div>
        </div>
        <img style="display:block;margin: 0 auto 10%;" src="/public/img/service01.jpg" alt="">
        <img style="display:block;margin: 0 auto 10%;" src="/public/img/service02.jpg" alt="">
      </div>
    </section>
    <!-- 引入公共页尾 -->
    <%= require("html-loader!../../common/footer/index.html") %>
</body>

</html>