<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>智能诊断-工业AI</title>
</head>

<body>
    <!-- 引入公共页头 -->
    <%= require("html-loader!../common/header/index.html") %>
    <section class="banner-container">
        <img src="/public/img/message_banner.jpg" alt="">
    </section>
    <section class="message-container">
        <div class="main-view center">
            <div class="msg-title wow fadeInRight">在线留言</div>
            <form action="" class="message">
                <label for="fullname" class="wow fadeInUp" data-wow-delay="100ms">
                    <span>姓名：</span>
                    <input placeholder="请输入姓名" type="text" name="fullname" id="fullname">
                </label>
                <label for="address" class="wow fadeInUp" data-wow-delay="200ms">
                    <span>所在地区：</span>
                    <input placeholder="请输入所在地区" type="text" name="address" id="address">
                </label>
                <label for="company" class="wow fadeInUp" data-wow-delay="300ms">
                    <span>所在公司：</span>
                    <input placeholder="请输入所在公司" type="text" name="company" id="company">
                </label>
                <label for="tel" class="wow fadeInUp" data-wow-delay="400ms">
                    <span>联系电话：</span>
                    <input placeholder="请输入联系电话" type="text" name="tel" id="tel">
                </label>
                <label for="email" class="wow fadeInUp" data-wow-delay="500ms">
                    <span>Email：</span>
                    <input placeholder="请输入姓E-mail" type="text" name="email" id="email">
                </label>
                <label for="note" class="wow fadeInUp" data-wow-delay="600ms">
                    <span>留言：</span>
                    <textarea placeholder="请输入留言内容" name="note" id="note" cols="30" rows="10"></textarea>
                </label>
                <div class="btns">
                    <button type="submit" class="wow fadeInRight">提交</button>
                    <button type="reset" class="wow fadeInRight" data-wow-delay="200ms">清空</button>
                </div>
            </form>
        </div>
    </section>
    <!-- 引入公共页尾 -->
    <%= require("html-loader!../common/footer/index.html") %>
</body>

</html>