<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>智能诊断-工业AI</title>
</head>

<body>
  <!-- 引入公共页头 -->
  <%= require("html-loader!../../common/header/index.html") %>
    <%= require("html-loader!../header/index.html") %>
      <section class="module info-container">
        <img src="/public/img/remote_banner.jpg" class="wow fadeInUp" alt="">
        <div class="view-cont center">
          <div class="head">
            <h2 class="title wow fadeInUp">动力装备制造企业整体解决方案</h2>
            <div class="note wow fadeInUp">
              博华科技能为动力装备制造企业提供定制化的试车台解决方案和成熟的设备远程运维中心解决方案。以可靠、成熟的端到端解决方案，为企业提供统一的数据构建和管理，提供统一的设备数据服务，帮助企业实现运维服务精细化管理，助理企业实现运维服务转型和升级。
            </div>
          </div>
          <div class="body">
            <img src="/public/img/remote01.jpg" class="wow fadeInUp" alt="">
          </div>
        </div>
        <div class="view-cont center">
          <div class="head">
            <h2 class="title wow fadeInUp">合作单位（部分）</h2>
            <div class="body">
             <ul class="partner-list">
               <li class="partner-item wow fadeInLeft">
                 <div class="logo">
                   <img src="/public/img/remote_partner01.png" alt="杭州汽轮机股份有限公司">
                 </div>
                 <div class="name">杭州汽轮机股份有限公司</div>
               </li>
               <li class="partner-item wow fadeInRight">
                 <div class="logo">
                   <img src="/public/img/remote_partner02.png" alt="重庆齿轮箱有限责任公司">
                 </div>
                 <div class="name">重庆齿轮箱有限责任公司</div>
               </li>
               <li class="partner-item wow fadeInLeft">
                 <div class="logo">
                   <img src="/public/img/remote_partner03.png" alt="重庆通用机械工业有限公司">
                 </div>
                 <div class="name">重庆通用机械工业有限公司</div>
               </li>
               <li class="partner-item wow fadeInRight">
                 <div class="logo">
                   <img src="/public/img/remote_partner04.png" alt="中国石油集团济柴动力有限公司成都压缩机分公司">
                 </div>
                 <div class="name">中国石油集团济柴动力有限公司成都压缩机分公司</div>
               </li>
               <li class="partner-item wow fadeInLeft">
                 <div class="logo">
                   <img src="/public/img/remote_partner05.png" alt="中国石化江汉油田第三机械厂">
                 </div>
                 <div class="name">中国石化江汉油田第三机械厂</div>
               </li>
             </ul>
            </div>
          </div>
        </div>
      </section>

      <!-- 引入公共页尾 -->
      <%= require("html-loader!../../common/footer/index.html") %>
</body>

</html>