<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>智能报警-工业AI</title>
</head>

<body>
  <!-- 引入公共页头 -->
  <%= require("html-loader!../../common/header/index.html") %>
  <%= require("html-loader!../header/index.html") %>
    <section class="module cont1 wow fadeInUp">
      <div class="view-cont center">
        <div class="title">
          诊断业绩
          <div class="note">
            自 2007 年至 2020
            年以来，持续为中国石油、中国海油、中国石化、神华集团、上海电气等企业出具监测月报和诊断报告，涉及离心压缩机组、往复压缩机组、燃气轮机、鼓风机、泵、风力发电机组等多类机械装备的远程和现场诊断，协助解决了大量关键机组故障，为企业提高设备管理水平起到了重要作用。
          </div>
        </div>
        <img style="display:block;margin: 0 auto 5%;" src="/public/img/service03.jpg" alt="">
      </div>
    </section>
    <section class="module cont2 wow fadeInUp" style="background-color: #f8f8f8;">
      <div class="view-cont center">
        <div class="title">
          四川石化小组外包诊断案例
          <div class="note">
            以驻场四川石化诊断外包服务为例，截止到2020年5月共发现、诊断故障案例825个，综合诊断准确率达到92.5%。
          </div>
        </div>
        <img style="display:block;margin: 0 auto 5%;" src="/public/img/service04.jpg" alt="">
        <img style="display:block;margin: 0 auto 5%;" src="/public/img/service05.jpg" alt="">
      </div>
    </section>
    <section class="module cont3 wow fadeInUp">
      <div class="view-cont center">
        <div class="title">
          云南石化小组外包诊断案例
          <div class="note">
            云南石化从2019年1月开始，在公司机动设备处组织下，开始全厂集中处理振值在4.5mm/s以上连续运行机泵，以下是基于状态监测系统针对2018-2019持续运行机泵做的振动统计表，成功解决了4台处于D区状态的疑难振动问题，同时也大幅消减了处于C区状态的设备数量。
          </div>
        </div>
        <img style="display:block;margin: 0 auto 5%;" src="/public/img/service06.png" alt="">
        <img style="display:block;margin: 0 auto 5%;" src="/public/img/service07.jpg" alt="">
      </div>
    </section>
    <section class="module cont4 wow fadeInUp" style="background-color: #f8f8f8;">
      <div class="view-cont center">
        <div class="title">
          广西石化小组外包诊断案例
        </div>
        <img style="display:block;margin: 0 auto 5%;" src="/public/img/service08.jpg" alt="">
      </div>
    </section>
    <!-- 引入公共页尾 -->
    <%= require("html-loader!../../common/footer/index.html") %>
</body>

</html>