<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>智能诊断-工业AI</title>
</head>

<body>
  <!-- 引入公共页头 -->
  <%= require("html-loader!../../common/header/index.html") %>
    <%= require("html-loader!../header/index.html") %>
      <section class="module info-container">
        <img src="/public/img/wisdom_factory.jpg" class="wow fadeInUp" alt="">
        <div class="view-cont">
          <div class="head center">
            <h2 class="title wow fadeInUp">能源化工行业整体解决方案</h2>
            <div class="note wow fadeInUp">
              通过对大型旋转机械、往复式压缩机组、机泵群部署监测诊断系统，可以准确地掌握设备运行状态，及时探测和识别设备的早期故障征兆，对产生故障一次原因的条件、多因多果的对应关系进一步综合分析，找出产生故障的最初始原因，给出维修策略和建立维修结果反馈机制。
            </div>
          </div>
          <div class="body" style="background-color: #f8f8f8;">
            <div class="main-view center">
              <div class="left-text wow fadeInLeft">
                <div class="title">主要产品</div>
                <div class="desc">
                  <p>往复压缩机在线监测诊断系统</p>
                  <p>旋转机械在线监测诊断系统</p>
                  <p>关键机泵群在线监测诊断系统</p>
                  <p>关键机泵群无线监测诊断系统</p>
                </div>
            </div>
            <div class="right-img wow fadeInRight">
              <img src="/public/img/wisdom_factory_2.jpg" alt="">
            </div>
            </div>
            <div class="note center">
              <h2 class="title wow fadeInUp">功能、特点</h2>
              <div class="p wow fadeInUp">
                <p>
                  大型旋转机械、往复式压缩机组、机泵群是流程工业心脏设备，它们通常在复杂、严酷的环境下长期服役，一旦发生故障可能导致系统停机、生产中断、甚至出现恶性事故，危机人们的生命财产安全，所造成的直接经济损失十分巨大，间接损失和社会影响更是难以估量。
                </p>
                <p>
                  通过对大型旋转机械、往复式压缩机组、机泵群部署监测诊断系统，可以准确地掌握设备运行状态，及时探测和识别设备的早期故障征兆，对产生故障一次原因的条件、多因多果的对应关系进一步综合分析，找出产生故障的最初始原因，给出维修策略和建立维修结果反馈机制。
                </p>
              </div>
              <h2 class="title wow fadeInUp">用途</h2>
              <div class="p wow fadeInUp">
                <p>
                  实施监测设备运行状态，减少人工巡检工作强度，提高人工管理效率；
                </p>
                <p>
                  大幅度减少机械设备恶性事故的发生；
                </p>
                <p>及时报警，提前采取措施，消除故障发生的条件，减少非计划停机，延长运转周期；</p>
                <p>
                  为检维修提供科学依据，可以避免过度检测或者检测不足，同时使检修有的放矢，对症下药，降低检维修费用，提高检维修效率；
                </p>
                <p>
                  保证设备长周期、稳定运行，提高企业“潜在”利润，增强企业市场竞争力。
                </p>
              </div>
              <h2 class="title wow fadeInUp">技术优势、产品特色</h2>
              <div class="p wow fadeInUp">
                <p>
                  可以为用户提供动设备监测整体解决方案，实现设备监测诊断“三机合一”与“三线合一”，即大型旋转机械、往复式压缩机、机泵群全设备类型整体解决方案，有线监测、无线监测、离线监测手段全覆盖；
                </p>
                <p>
                  系统具备智能预警技术，利用机器学习技术，可以建立不同运行工况的预警模型，极大提高设备预警准确率。
                </p>
                <p>
                  系统内置故障机理模型，常见典型机械故障可以实现一次原因自动诊断，降低系统使用复杂度，减少对用户专业知识的依赖，将被动系统转变为能动系统。
                </p>
              </div>
            </div>
          </div>
          <div class="imgs center">
            <img class="wow fadeInUp" src="/public/img/wisdom_factory_3.jpg" alt="">
            <img class="wow fadeInUp" src="/public/img/wisdom_factory_4.jpg" alt="">
            <img class="wow fadeInUp" src="/public/img/wisdom_factory_5.jpg" alt="">
          </div>
        </div>
      </section>
      <!-- 引入公共页尾 -->
      <%= require("html-loader!../../common/footer/index.html") %>
</body>

</html>