<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>智能报警-工业AI</title>
</head>

<body>
  <!-- 引入公共页头 -->
  <%= require("html-loader!../../common/header/index.html") %>
  <%= require("html-loader!../header/index.html") %>
    <section class="module cont1 wow fadeInUp">
      <div class="view-cont center">
        <div class="title">
          远程诊断服务
          <div class="note">
            自 2007 年至 2020 年以来，持续为中国石油、中国海油、中国石化、神华集团、上海电气等企业出具监测月报和诊断报告，涉及离心压缩机组、往复压缩机组、燃气轮机、鼓风机、泵、风力发电机组等多类机械装备的远程和现场诊断，协助解决了大量关键机组故障，为企业提高设备管理水平起到了重要作用。
          </div>
        </div>
        <img style="display:block;margin: 0 auto 10%;" src="/public/img/service11.png" alt="">
      </div>
    </section>
    <section class="module cont2 wow fadeInUp" style="background-color: #f8f8f8;">
      <div class="view-cont center">
        <div class="title">
          服务流程
        </div>
        <img style="display:block;margin: 0 auto 5%;" src="/public/img/service12.jpg" alt="">
      </div>
    </section>
    <section class="module cont3 wow fadeInUp">
      <div class="view-cont center">
        <img style="display:block;margin: 0 auto 5%;" src="/public/img/service13.png" alt="">
      </div>
    </section>
    <!-- 引入公共页尾 -->
    <%= require("html-loader!../../common/footer/index.html") %>
</body>

</html>