<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>智能报警-工业AI</title>
</head>

<body>
  <!-- 引入公共页头 -->
  <%= require("html-loader!../../common/header/index.html") %>
  <%= require("html-loader!../header/index.html") %>
    <section class="module job-container wow fadeInUp">
      <div class="view-cont">
        <div class="title">
          博华欢迎您的加入
        </div>
        <ul class="job-list">
          <li class="job-item wow fadeInUp">
            <div class="job-view center">
              <div class="job-title">华中高级销售经理</div>
              <div class="infos">
                <div class="info">
                  学历要求：本科及以上学历
                </div>
                <div class="info">
                  工作经验：两年及以上
                </div>
                <div class="info">
                  招聘人数：1人
                </div>
                <div class="info">
                  发布时间：2020-08-17
                </div>
              </div>
            </div>
          </li>
          <li class="job-item wow fadeInUp">
            <div class="job-view center">
              <div class="job-title">华中高级销售经理</div>
              <div class="infos">
                <div class="info">
                  学历要求：本科及以上学历
                </div>
                <div class="info">
                  工作经验：两年及以上
                </div>
                <div class="info">
                  招聘人数：1人
                </div>
                <div class="info">
                  发布时间：2020-08-17
                </div>
              </div>
            </div>
          </li>
          <li class="job-item wow fadeInUp">
            <div class="job-view center">
              <div class="job-title">华中高级销售经理</div>
              <div class="infos">
                <div class="info">
                  学历要求：本科及以上学历
                </div>
                <div class="info">
                  工作经验：两年及以上
                </div>
                <div class="info">
                  招聘人数：1人
                </div>
                <div class="info">
                  发布时间：2020-08-17
                </div>
              </div>
            </div>
          </li>
          <li class="job-item wow fadeInUp">
            <div class="job-view center">
              <div class="job-title">华中高级销售经理</div>
              <div class="infos">
                <div class="info">
                  学历要求：本科及以上学历
                </div>
                <div class="info">
                  工作经验：两年及以上
                </div>
                <div class="info">
                  招聘人数：1人
                </div>
                <div class="info">
                  发布时间：2020-08-17
                </div>
              </div>
            </div>
          </li>
          <li class="job-item wow fadeInUp">
            <div class="job-view center">
              <div class="job-title">华中高级销售经理</div>
              <div class="infos">
                <div class="info">
                  学历要求：本科及以上学历
                </div>
                <div class="info">
                  工作经验：两年及以上
                </div>
                <div class="info">
                  招聘人数：1人
                </div>
                <div class="info">
                  发布时间：2020-08-17
                </div>
              </div>
            </div>
          </li>
          <li class="job-item wow fadeInUp">
            <div class="job-view center">
              <div class="job-title">华中高级销售经理</div>
              <div class="infos">
                <div class="info">
                  学历要求：本科及以上学历
                </div>
                <div class="info">
                  工作经验：两年及以上
                </div>
                <div class="info">
                  招聘人数：1人
                </div>
                <div class="info">
                  发布时间：2020-08-17
                </div>
              </div>
            </div>
          </li>
          <li class="job-item wow fadeInUp">
            <div class="job-view center">
              <div class="job-title">华中高级销售经理</div>
              <div class="infos">
                <div class="info">
                  学历要求：本科及以上学历
                </div>
                <div class="info">
                  工作经验：两年及以上
                </div>
                <div class="info">
                  招聘人数：1人
                </div>
                <div class="info">
                  发布时间：2020-08-17
                </div>
              </div>
            </div>
          </li>
        </ul>
      </div>
    </section>
    <!-- 引入公共页尾 -->
    <%= require("html-loader!../../common/footer/index.html") %>
</body>

</html>