<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>智能报警-工业AI</title>
</head>

<body>
  <!-- 引入公共页头 -->
  <%= require("html-loader!../../common/header/index.html") %>
  <%= require("html-loader!../header/index.html") %>
    <section class="module cont1 wow fadeInUp">
      <div class="view-cont center">
        <div class="title">
          多种智能报警手段
          <div class="note">
            具备敏感特征参数提取与智能报警功能，包括快速趋势预警、长期趋势预警、反复波动预警及报警信息统计等相关功能。
          </div>
        </div>
        <img style="display:block;margin: 0 auto 10%;" src="/public/img/police01.png" alt="">
        <img style="display:block;margin: 0 auto 10%;" src="/public/img/police02.png" alt="">
        <img style="display:block;margin: 0 auto 10%;" src="/public/img/police03.png" alt="">
      </div>
    </section>
    <section class="module cont2 wow fadeInUp" style="background-color: #f8f8f8;">
      <div class="view-cont center">
        <img style="display:block;margin: 0 auto 10%;" src="/public/img/police04.png" alt="">
      </div>
    </section>
    <section class="module cont3 wow fadeInUp">
      <div class="view-cont center">
        <div class="title">
          核心功能
        </div>
        <img style="display:block;margin: 0 auto 10%;" src="/public/img/police05.png" alt="">
      </div>
    </section>
    <!-- 引入公共页尾 -->
    <%= require("html-loader!../../common/footer/index.html") %>
</body>

</html>