<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>智能诊断-工业AI</title>
</head>

<body>
    <!-- 引入公共页头 -->
    <%= require("html-loader!../../common/header/index.html") %>
    <%= require("html-loader!../header/index.html") %>
    <section class="module info-container">
        <ul class="info-nav-list">
            <li class="info-nav-item active">
                <a href="javascript:;">气量调节系统</a>
            </li>
            <li class="info-nav-item">
                <a href="javascript:;">BH9000</a>
            </li>
        </ul>
        <ul class="info-cont-list">
            <li class="info-cont-item active">
                <div class="view-cont center">
                    <div class="head">
                        <h2 class="title">BHSCCS无级气量调节系统</h2>
                        <div class="note">
                            BHSCCS无级气量调节系统（BHSCCS是BoHua Stepless Capacity Control System
                            的简称）是专为往复压缩机设计，采用部分行程顶开进气阀调节方式。系统采用液压系统控制机械卸荷器压开吸气阀，通过控制压缩过程回流吸气管道的气量，控制压缩机排气量，进而控制机组负荷，满足现场生产工艺需求，消除回流损失，有效降低机组低负荷状态下的运行电流，实现机组高效、绿色运行。
                        </div>
                    </div>
                    <div class="body">
                        <img src="/public/img/control01.jpg" alt="">
                    </div>
                </div>
                <div class="view-cont" style="background-color: #f8f8f8;">
                    <div class="body center">
                        <img src="/public/img/control02.png" alt="">
                    </div>
                </div>
                <div class="view-cont">
                    <div class="body center">
                        <img src="/public/img/control03.png" alt="">
                    </div>
                </div>
            </li>
            <li class="info-cont-item">
                <div class="view-cont center">
                    <div class="head">
                        <h2 class="title">BH9000智能监测保护系统</h2>
                        <div class="note">
                            BH9000
                            智能监测保护系统将设备状态监测、振动保护和故障诊断集于一体，适用于各种旋转机械的在线振动监测保护，包括汽轮机、水轮机、压缩机、风机、电机、水泵、齿轮和轴承等。它可以连续监测振动参数和过程参数，如轴振、瓦振、偏心、胀差、轴位移、热膨胀、转速以及温度、压力、负荷等，能够为设备事故如不平衡、不对中、转子碰摩、松动和轴承损坏等故障的发现提供强有力的分析手段，并对设备提供可靠的保护。具有诊断和自学习功能，提供灵活的报警组合逻辑。
                        </div>
                    </div>
                    <div class="body">
                        <img src="/public/img/bh9000.png" alt="">
                    </div>
                </div>
                <div class="view-cont" style="background-color: #f8f8f8;">
                    <div class="center">
                        <div class="head">
                            <h2 class="title">系统特点</h2>
                            <img src="/public/img/solution-sub.png" class="solution-sub" alt="">
                            <div class="note">
                                BH9000 集成了状态监测及控制功能，具有可靠性高，功能强大等特点。系统由主控模块、状态监测模块、通用监测模块组成。具有以下特点：
                            </div>
                        </div>
                        <div class="body">
                            <ul class="cont-list">
                                <li class="cont-item">
                                    <img src="/public/img/control04.jpg" alt="">
                                </li>
                                <li class="cont-item">
                                    <img src="/public/img/control05.jpg" alt="">
                                </li>
                                <li class="cont-item">
                                    <img src="/public/img/control06.jpg" alt="">
                                </li>
                                <li class="cont-item">
                                    <img src="/public/img/control07.jpg" alt="">
                                </li>
                                <li class="cont-item">
                                    <img src="/public/img/control08.jpg" alt="">
                                </li>
                                <li class="cont-item">
                                    <img src="/public/img/control09.jpg" alt="">
                                </li>
                                <li class="cont-item w100">
                                    <img src="/public/img/control10.jpg" alt="">
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="view-cont">
                    <div class="center">
                        <div class="head">
                            <h2 class="title">系统功能</h2>
                            <img src="/public/img/solution-sub.png" class="solution-sub" alt="">
                        </div>
                        <div class="body">
                            <ul class="cont2-list">
                                <li class="cont2-item">
                                    <div class="title">
                                        <div class="text">
                                            数据采集
                                        </div>
                                    </div>
                                    <div class="info">
                                        BH9000
                                        系统能连续同步采集、分析和存储各种输入信号，能够自动识别机组的运行状态，如启停机、升降速及正常或异常状态，并根据机组的状态进行数据采集。
                                    </div>
                                </li>
                                <li class="cont2-item">
                                    <div class="title">
                                        <div class="text">
                                            控制功能
                                        </div>
                                    </div>
                                    <div class="info">
                                        当设备出现异常时，继电器动作，控制紧急停车系统（ESD）产生紧急停车信号，避免更大的损失；继电器动作的同时报警LED 灯亮，指示系统报警状态。
                                    </div>
                                </li>
                                <li class="cont2-item">
                                    <div class="title">
                                        <div class="text">
                                            电流输出
                                        </div>
                                    </div>
                                    <div class="info">
                                        每个测量通道对应一路4-20mA 输出，将传感器测量值转换成电流信号供PLC、DCS 使用。
                                    </div>
                                </li>
                                <li class="cont2-item">
                                    <div class="title">
                                        <div class="text">
                                            继电器输出
                                        </div>
                                    </div>
                                    <div class="info">
                                        每个监测模块上有4 通道继电器，继电器报警逻辑可用“与”和“或”逻辑编程，BH9000 框架中的任何监测模块警告或危险状态都可以驱动继电器动作。
                                    </div>
                                </li>
                                <li class="cont2-item">
                                    <div class="title">
                                        <div class="text">
                                            事件列表
                                        </div>
                                    </div>
                                    <div class="info">
                                        记录报警事件及系统事件。通过报警事件和系统事件列表，可以获取事件发生时刻机组的状态。
                                    </div>
                                </li>
                                <li class="cont2-item">
                                    <div class="title">
                                        <div class="text">
                                            趋势分析
                                        </div>
                                    </div>
                                    <div class="info">
                                        可以分析一个或多个通道的趋势变化，判断机械设备的健康状态。
                                    </div>
                                </li>
                                <li class="cont2-item">
                                    <div class="title">
                                        <div class="text">
                                            数据分析
                                        </div>
                                    </div>
                                    <div class="info">
                                        BH9000 具有强大的振动分析功能，包括波形、幅值、频谱、相位、包络、轴心轨迹、瀑布图、波特图、极坐标图、级联图等。
                                    </div>
                                </li>
                                <li class="cont2-item">
                                    <div class="title">
                                        <div class="text">
                                            故障诊断
                                        </div>
                                    </div>
                                    <div class="info">
                                        可以根据时域、频域等分析手段，判断如不平衡、不对中、部件脱落、喘振、汽流激振、齿轮和轴承故障等。
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="view-cont" style="background-color: #f8f8f8;">
                    <div class="center">
                        <div class="head">
                            <div class="title">系统组成</div>
                            <img src="/public/img/solution-sub.png" class="solution-sub" alt="">
                        </div>
                        <div class="body">
                            <ul class="cont3-list">
                                <li class="cont3-item">
                                    <div class="title">
                                        BH9010 主控模块
                                    </div>
                                    <div class="info">
                                        BH9010主控模块前卡采用半高模块设计，后卡采用全高模块设计，占用BH9000
                                        智能监测保护系统框架最左侧的第一个槽位。两个主控模块冗余，为整个系统提供主控功能。
                                    </div>
                                </li>
                                <li class="cont3-item">
                                    <div class="title">
                                        BH9020 状态监测模块
                                    </div>
                                    <div class="info">
                                        BH9020状态监测模块主要完成机组运行数据分析、启停车数据分析、报警判断、自动诊断、本地数据上传及存储等功能。
                                    </div>
                                </li>
                                <li class="cont3-item">
                                    <div class="title">
                                        BH9030 通用监测模块
                                    </div>
                                    <div class="info">
                                        <p>
                                            BH9030 通用监测模块具有4 个测量通道，可以应用于绝大多数场合，能够兼容ICP
                                            传感器、磁电传感器、涡流传感器、磁阻传感器、接近开关、两线制变送器等传感器。根据不同测量类型能够计算峰值、峰峰值、RMS、1X幅值、2X
                                            幅值、间隙电压值和转速等。
                                        </p>
                                        <p>
                                            BH9030 通用监测模块第四通道可以配置为键相输入功能，为BH9000系统提供键相信号。
                                        </p>
                                        <p>
                                            BH9030 具有4通道4-20mA 电流输出，与4个测量通道一一对应，将传感器测量值转换成电流信号供PLC、DCS 使用。
                                        </p>
                                        <p>
                                            BH9030 具有4 个继电器，继电器报警逻辑可用“与”和“或”逻辑编程，BH9000
                                            智能监测保护系统框架中的任何监测模块警告或危险状态都可以驱动继电器动作。
                                        </p>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </li>
        </ul>
    </section>
    <!-- 引入公共页尾 -->
    <%= require("html-loader!../../common/footer/index.html") %>
</body>

</html>