<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>智能诊断-工业AI</title>
</head>

<body>
  <!-- 引入公共页头 -->
  <%= require("html-loader!../../common/header/index.html") %>
  <%= require("html-loader!../header/index.html") %>
    <section class="module cont1 wow fadeInUp">
      <div class="view-cont center">
        <div class="title">
          专家系统自动诊断
          <div class="note">
            对各类机械振动信号进行自动分析诊断
          </div>
        </div>
      </div>
      <div class="pics">
        <div class="pic">
          <div class="img center">
            <img src="/public/img/police06.png" alt="">
          </div>
        </div>
        <div class="pic">
          <div class="img center">
            <img src="/public/img/police07.png" alt="">
          </div>
        </div>
        <div class="pic">
          <div class="img center">
            <img src="/public/img/police08.png" alt="">
          </div>
        </div>
      </div>
    </section>
    <section class="module cont2 wow fadeInUp" style="background-color: #f8f8f8;">
      <div class="view-cont center">
        <img style="display:block;margin: 0 auto 10%;" src="/public/img/police04.png" alt="">
      </div>
    </section>
    <section class="module cont3 wow fadeInUp">
      <div class="view-cont center">
        <div class="title">
          核心功能
          <div class="note">
            设备运行状态自动分级，可直观展示：设备预警状态\故障案例汇总\运行状态统计\报警事件分析\故障原因分析
          </div>
        </div>
        <img style="display:block;margin: 0 auto 10%;" src="/public/img/police09.png" alt="">
        <img style="display:block;margin: 0 auto 10%;" src="/public/img/police10.png" alt="">
      </div>
    </section>
    <!-- 引入公共页尾 -->
    <%= require("html-loader!../../common/footer/index.html") %>
</body>

</html>