<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>智能诊断-工业AI</title>
</head>

<body>
    <!-- 引入公共页头 -->
    <%= require("html-loader!../../common/header/index.html") %>
    <%= require("html-loader!../header/index.html") %>
    <section class="module info-container">
        <ul class="info-nav-list">
            <li class="info-nav-item active">
                <a href="javascript:;">BH5000E 核电</a>
            </li>
            <li class="info-nav-item">
                <a href="javascript:;">BH5000P 核电</a>
            </li>
            <li class="info-nav-item">
                <a href="javascript:;">核电汽轮机系统</a>
            </li>
            <li class="info-nav-item">
                <a href="javascript:;">BH5000W 风电</a>
            </li>
        </ul>
        <ul class="info-cont-list">
            <li class="info-cont-item active">
                <div class="view-cont center">
                    <div class="head">
                        <h2 class="title">BH5000E 核电柴油机状态监测故障诊断健康评估系统 </h2>
                        <div class="note">
                            BH5000E柴油机状态监测故障诊断健康评估系统，通过振动、键相、瞬时转速等传感器，监测机组缸体、曲轴箱及齿轮传动箱振动、机组瞬时转速等信号，<b>实现机组运行状态全面监测与健康状态评估分析</b>。
                        </div>
                    </div>
                    <div class="body">
                        <img src="/public/img/electric01.png" alt="">
                    </div>
                </div>
            </li>
            <li class="info-cont-item">
                <div class="view-cont center">
                    <div class="head">
                        <h2 class="title">BH5000P 核电机泵的网络化实时在线监测诊断系统</h2>
                        <div class="note">
                            BH5000P-机泵的网络化实时在线监测诊断系统是基于网络的分布式状态监测系统，能够在局域网在线实时分析诊断机泵运行时出现的机械类故障（包括轴承故障、不平衡、不对中、磨损、结构松动、结构共振等故障）、电气类故障包括（转子断条趋势、静态偏心、动态偏心、绕组松动、绕组短路）进行故障诊断，对机组安全运行及科学维修提供决策支持，帮助优化设备的运行。
                        </div>
                    </div>
                    <div class="body">
                        <img src="/public/img/wisdom01.jpg" alt="">
                    </div>
                </div>
            </li>
            <li class="info-cont-item">
                <div class="view-cont center">
                    <div class="head">
                        <h2 class="title">核电汽轮机监测故障诊断健康评估系统 </h2>
                        <div class="note">
                            汽轮机在线监测诊断系统旨在建立完整、统一的设备状态监测诊断管理平台。该平台可对汽轮发电机组的运行状态进行连续、准确和可靠的在线监控，可帮助运维人员及时掌握机组运行状态，避免事故发生。同时平台提供多种专业化分析图谱和监测诊断报警手段，运维人员可根据监测数据对机组进行在线诊断，使设备的维修方式从传统的“事故维修”和”定期维修”过渡到“预制性维修”，从而大大提高设备的利用率，减少停机维修时间，降低维修费用。
                        </div>
                    </div>
                    <div class="body">
                        <img src="/public/img/wisdom02.jpg" alt="">
                    </div>
                </div>
            </li>
            <li class="info-cont-item">
                <div class="view-cont center">
                    <div class="head">
                        <h2 class="title">BH5000W 风力发电机在线监测诊断系统</h2>
                        <div class="note">
                            风力发电机组是生产绿色清洁能源的关键设备，但该类设备由于工作环境恶劣，会产生各种机械故障，如齿轮箱、轴承故障等。若未提前预警则会导致故障恶化，机组自身部件损坏而产生较高维修费用；故障停机使发电量减小，盈利减少；没有状态监测系统支持，故障定位困难，导致维护时间加长，费用进一步增加。目前，风力发电机组维护缺乏指导依据，无法进行预知维修；而定期维护频次高，事后维修难度较大。BH5000W
                            风力发电机在线监测诊断系统可以有效地帮助解决这些难题。
                        </div>
                    </div>
                    <div class="body">
                        <img src="/public/img/wisdom03.jpg" alt="">
                    </div>
                </div>
                <div class="view-cont" style="background-color: #f8f8f8;">
                    <div class="center">
                        <div class="head">
                            <h2 class="title">系统介绍</h2>
                            <div class="note">
                                BH5000W 系统能够对风力发电机变速变载运行状态进行有效监测，能够预警和诊断主轴承、齿轮箱、发电机等的机械故障。在进行实验研究和现场工程应用基础上，研发的针对风力发电机故障的早期预警技术，可以高效低成本地弥补风力发电机组在维护管理上的欠缺，提升设备的整体管理水平，为企业直接节约维修成本，间接提高发电盈利。
                            </div>
                        </div>
                        <div class="body">
                            <img src="/public/img/wisdom04.jpg" alt="">
                        </div>
                    </div>
                </div>
                <div class="view-cont center">
                    <div class="head">
                        <h2 class="title">监测功能</h2>
                        <div class="note">
                            传动链机械故障产生的信号主要是“冲击振动信号”，该信号与风力发电机传动链机械系统故障息息相关，处理得当就可以提前预警，避免非计划停机。博华科技采用特别的冲击能量技术，对“冲击振动信号”进行解析，提取出故障特征信号。针对风力发电机的变速问题，BH5000W 风力发电机在线监测诊断系统将转速作为自变量处理后消除了变速影响，能够进行任何转速区间的趋势预警。利用上述技术，BH5000W 风力发电机在线监测诊断系统能够自动识别出故障部位和严重程度。软件系统采用2 种架构，C/S 架构和B/S 架构。C/S 架构是计算机终端安装软件，对数据进行管理；B/S 架构是通过联网的浏览器查看数据，外网能直接使用浏览器访问监测中心数据。同时监测中心部署GIS 功能，使风电上线现状与运行情况一目了然。
                        </div>
                    </div>
                    <div class="body">
                        <img src="/public/img/wisdom05.jpg" alt="">
                    </div>
                </div>
            </li>
        </ul>
    </section>
    <!-- 引入公共页尾 -->
    <%= require("html-loader!../../common/footer/index.html") %>
</body>

</html>