<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>智能报警-工业AI</title>
</head>

<body>
  <!-- 引入公共页头 -->
  <%= require("html-loader!../../common/header/index.html") %>
  <%= require("html-loader!../header/index.html") %>
    <section class="module partner-container wow fadeInUp">
      <div class="view-cont">
        <div class="title">
          我们的客户
        </div>
        <ul class="partner-list">
          <li class="partner-item wow fadeInUp">
            <div class="partner-view center">
              <div class="img">
                <img src="/public/img/partner01.jpg" alt="中国石油">
              </div>
              <div class="partner-cont">
                <div class="partner-title">中石油：</div>
                <div class="partner-info">
                  大庆石化、大庆炼化、哈尔滨石化、吉林石化、锦州石化、辽阳石化、抚顺石化、大连石化、辽河石化、锦西石化、呼和浩特石化、华北石化、大港石化、长庆石化、兰州石化、庆阳石化、宁夏石化、格尔木炼油厂、乌鲁木齐石化、独山子石化、塔里木石化、克拉玛依石化、广西石化、四川石化、云南石化、北京天然气管道、管道分公司、西部管道、塔里木油田、大庆油田、长庆油田、新疆油田、西南油气田等。
                </div>
              </div>
            </div>
          </li>
          <li class="partner-item wow fadeInUp">
            <div class="partner-view center">
              <div class="img">
                <img src="/public/img/partner01.jpg" alt="中国石油">
              </div>
              <div class="partner-cont">
                <div class="partner-title">中石油：</div>
                <div class="partner-info">
                  大庆石化、大庆炼化、哈尔滨石化、吉林石化、锦州石化、辽阳石化、抚顺石化、大连石化、辽河石化、锦西石化、呼和浩特石化、华北石化、大港石化、长庆石化、兰州石化、庆阳石化、宁夏石化、格尔木炼油厂、乌鲁木齐石化、独山子石化、塔里木石化、克拉玛依石化、广西石化、四川石化、云南石化、北京天然气管道、管道分公司、西部管道、塔里木油田、大庆油田、长庆油田、新疆油田、西南油气田等。
                </div>
              </div>
            </div>
          </li>
          <li class="partner-item wow fadeInUp">
            <div class="partner-view center">
              <div class="img">
                <img src="/public/img/partner01.jpg" alt="中国石油">
              </div>
              <div class="partner-cont">
                <div class="partner-title">中石油：</div>
                <div class="partner-info">
                  大庆石化、大庆炼化、哈尔滨石化、吉林石化、锦州石化、辽阳石化、抚顺石化、大连石化、辽河石化、锦西石化、呼和浩特石化、华北石化、大港石化、长庆石化、兰州石化、庆阳石化、宁夏石化、格尔木炼油厂、乌鲁木齐石化、独山子石化、塔里木石化、克拉玛依石化、广西石化、四川石化、云南石化、北京天然气管道、管道分公司、西部管道、塔里木油田、大庆油田、长庆油田、新疆油田、西南油气田等。
                </div>
              </div>
            </div>
          </li>
          <li class="partner-item wow fadeInUp">
            <div class="partner-view center">
              <div class="img">
                <img src="/public/img/partner01.jpg" alt="中国石油">
              </div>
              <div class="partner-cont">
                <div class="partner-title">中石油：</div>
                <div class="partner-info">
                  大庆石化、大庆炼化、哈尔滨石化、吉林石化、锦州石化、辽阳石化、抚顺石化、大连石化、辽河石化、锦西石化、呼和浩特石化、华北石化、大港石化、长庆石化、兰州石化、庆阳石化、宁夏石化、格尔木炼油厂、乌鲁木齐石化、独山子石化、塔里木石化、克拉玛依石化、广西石化、四川石化、云南石化、北京天然气管道、管道分公司、西部管道、塔里木油田、大庆油田、长庆油田、新疆油田、西南油气田等。
                </div>
              </div>
            </div>
          </li>
        </ul>
        <div class="imgs center wow fadeInUp">
          <img src="/public/img/partner-wrap.jpg" alt="">
        </div>
      </div>
    </section>
    <!-- 引入公共页尾 -->
    <%= require("html-loader!../../common/footer/index.html") %>
</body>

</html>