<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>智能诊断-工业AI</title>
</head>

<body>
  <!-- 引入公共页头 -->
  <%= require("html-loader!../../common/header/index.html") %>
  <%= require("html-loader!../header/index.html") %>
  <section class="module info-container">
    <ul class="info-nav-list">
      <li class="info-nav-item active">
        <a href="javascript:;">BH7000数据采集器</a>
      </li>
      <li class="info-nav-item">
        <a href="javascript:;">数据应用管理器</a>
      </li>
      <li class="info-nav-item">
        <a href="javascript:;">无线振动传感器</a>
      </li>
      <li class="info-nav-item">
        <a href="javascript:;">其他类型传感器</a>
      </li>
      <li class="info-nav-item">
        <a href="javascript:;">无线网关</a>
      </li>
    </ul>
    <ul class="info-cont-list">
      <li class="info-cont-item active">
        <div class="view-cont center view-cont1">
          <div class="head">
            <h2 class="title">BH7000数据采集器</h2>
            <div class="note">
              数据采集器是转动设备状态监测诊断系统的关键硬件之一。数据采集器用于接收传感器测量并传输来的数据，经过专门的针对各种类型的信号调理系统再经A/D转换后实现数字信号的同步采集。利用嵌入式技术，数据采集软件嵌入到数据采集器中，实现对各路信号的特征提取功能。
            </div>
          </div>
          <div class="body">
            <div class="left">
              <img src="/public/img/hardware01.jpg" alt="">
            </div>
            <div class="right">
              <img src="/public/img/hardware02.jpg" alt="">
            </div>
          </div>
        </div>
        <div class="view-cont" style="background-color: #f8f8f8;">
          <div class="head">
            <h2 class="title">BH5000W数据采集器</h2>
          </div>
          <div class="body center">
            <img src="/public/img/hardware03.jpg" alt="">
          </div>
        </div>
      </li>
      <li class="info-cont-item">
        <div class="view-cont center">
          <div class="head">
            <h2 class="title">数据应用管理器</h2>
            <div class="note">
              数据应用管理器安装在控制室操作台内，压缩机旁的边缘计算设备通过光纤、办公网同步发送数据。数据应用管理器内运行人工分析诊断软件、智能诊断软件等，用户可通过CS或BS版软件访问各机组运行状态数据，查看机组报警信息，确认故障自动诊断结果。
            </div>
          </div>
          <div class="body">
            <div class="left">
              <img src="/public/img/hardware04.jpg" alt="">
            </div>
            <div class="right">
              <img src="/public/img/hardware05.jpg" alt="">
            </div>
          </div>
        </div>
      </li>
      <li class="info-cont-item">
        <div class="view-cont center">
          <div class="head">
            <h2 class="title">无线振动传感器</h2>
            <div class="note">
              无线振动传感器节点具有 X、Y、Z 三个方向的振动监测功能，既可以对设备振动特征值进行监测，也可以根据需要获取设备实时振动波形数据，同时具备温度监测功能。无线振动传感器节点可根据上位机设置特征值时间间隔和波形时间间隔，上传特征值数据和波形数据。节点采用低功耗设计技术，在系统默认时间间隔（2小时一组特征值，24小时一组波形）工作模式下，有效工作时间超过2年；节点电池采用非定制标准规格型号电池，用户可直接从市场进行采购并进行更换；节点体积小巧，产品设计符合本安防爆技术要求，可直接安装于防爆环境设备测点，应用方便，可靠性高。
            </div>
          </div>
          <div class="body">
            <div class="left">
              <img src="/public/img/hardware06.jpg" alt="">
            </div>
            <div class="right">
              <img src="/public/img/hardware07.jpg" alt="">
            </div>
          </div>
        </div>
      </li>
      <li class="info-cont-item">
        <div class="view-cont center">
          <div class="head">
            <h2 class="title">其他类型传感器</h2>
            <div class="note">
              动态压力传感器、光电传感器、速度传感器、电涡流传感器、加速度传感器
            </div>
          </div>
          <div class="body">
            <img src="/public/img/hardware08.jpg" alt="">
          </div>
        </div>
      </li>
      <li class="info-cont-item">
        <div class="view-cont center">
          <div class="head">
            <h2 class="title">无线网关</h2>
            <div class="note">
              无线网关是一种基于无线网络协议和 ModBus 协议的新型数据分析处理系统，可自组织形成多种网络拓扑结构。无线网关使用简单方便，无线数字信号传输方式消除了长电缆传输带来的噪声干扰，整个系统具有极高的实用性和稳定性。无线网关结构紧凑，体积小巧，由无线数据收发节点控制，协议转换，标准ModBus协议通信等模块组成，该网关可以组成庞大的无线网络，支持多个传感器节点同时进行应用。无线网关具有广泛的适用性，它同其他设备的通信接口使用标准 ModBus 协议，通过 RS485 接口和标准的ModBus 协议可以与任何支持同样协议和接口的设备相连，连接设备只需要通过标准的ModBus 协议就可以与网关通信，控制网关下所有节点的配置和采集。在此过程中连接设备不必关心无线节点传感器和网关的通信过程，大大减小了连接设备的开发难度。无线网关最多可支持 50 个无线振动传感器节点。
            </div>
          </div>
          <div class="body">
            <div class="left">
              <img src="/public/img/hardware09.jpg" alt="">
            </div>
            <div class="right">
              <img src="/public/img/hardware10.jpg" alt="">
            </div>
          </div>
        </div>
      </li>
    </ul>
  </section>
    <!-- 引入公共页尾 -->
    <%= require("html-loader!../../common/footer/index.html") %>
</body>

</html>