<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>智能诊断-工业AI</title>
</head>

<body>
  <!-- 引入公共页头 -->
  <%= require("html-loader!../../common/header/index.html") %>
    <%= require("html-loader!../header/index.html") %>
      <section class="module info-container">
        <img src="/public/img/mine_banner.jpg" class="wow fadeInUp" alt="">
        <div class="view-cont center">
          <div class="head">
            <h2 class="title wow fadeInUp">煤炭行业动力设备健康管理整体解决方案</h2>
            <div class="note wow fadeInUp">
              设备智能监测与诊断系统基于物联网技术实时感知设备故障指征参数，基于故障机理、专家规则、机器学习技术实现设备状态动态预测，基于数据分析和数据统计，为用户设备管理、分析决策提供量化指标。博华科技可提供煤炭行业动力设备健康管理整体解决方案，助力用户实现设备运维数字化转型，推进煤炭行业设备运维智能化进程。
            </div>
            <div class="body">
              <img src="/public/img/mine01.jpg" class="wow fadeInUp" alt="">
              <img src="/public/img/mine02.jpg" class="wow fadeInUp" alt="">
            </div>
          </div>
        </div>
      </section>
      <!-- 引入公共页尾 -->
      <%= require("html-loader!../../common/footer/index.html") %>
</body>

</html>