<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>应用层-工业互联网</title>
</head>

<body>
  <!-- 引入公共页头 -->
  <%= require("html-loader!../../common/header/index.html") %>
  <%= require("html-loader!../header/index.html") %>
    <section class="module cont1 wow fadeInUp">
      <div class="view-cont center">
        <div class="title">
          主航道：<span>五+云</span>
        </div>
        <img src="/public/img/industrial01.jpg" alt="">
        <img src="/public/img/industrial02.jpg" alt="">
      </div>
    </section>
    <section class="module cont2 wow fadeInUp" style="background-color: #f8f8f8;">
      <div class="view-cont center">
        <div class="title">
          行业
          <div class="note">
            石油化工、船舶动力、轨道交通、电力、装备制造、水泥、冶金、制药、造纸、市政等
          </div>
        </div>
        <img src="/public/img/industrial03.jpg" alt="">
      </div>
    </section>
    <!-- 引入公共页尾 -->
    <%= require("html-loader!../../common/footer/index.html") %>
</body>

</html>