<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>智能报警-工业AI</title>
</head>

<body>
  <!-- 引入公共页头 -->
  <%= require("html-loader!../../common/header/index.html") %>
  <%= require("html-loader!../header/index.html") %>
    <section class="module news-container cont1 wow fadeInUp">
      <div class="view-cont center">
        <div class="title">
          公司新闻
        </div>
        <ul class="news-list">
          <li class="news-item">
            <div class="img" style="background-image: url(/public/img/news01.jpg);">
            
            </div>
            <div class="info">
              <div class="news-title">博华科技参加第十一届石油化工设备维护检修技术交流会</div>
              <div class="date">2020年9月25日</div>
              <a href="news_view.html" class="more">了解更多</a>
            </div>
          </li>
          <li class="news-item">
            <div class="img">
            </div>
            <div class="info">
              <div class="news-title">博华科技参加第十一届石油化工设备维护检修技术交流会</div>
              <div class="date">2020年9月25日</div>
              <a href="news_view.html" class="more">了解更多</a>
            </div>
          </li>
          <li class="news-item">
            <div class="img">
            </div>
            <div class="info">
              <div class="news-title">博华科技参加第十一届石油化工设备维护检修技术交流会</div>
              <div class="date">2020年9月25日</div>
              <a href="news_view.html" class="more">了解更多</a>
            </div>
          </li>
          <li class="news-item">
            <div class="img">
              <img src="/public/img/news01.jpg" alt="博华科技参加第十一届石油化工设备维护检修技术交流会">
            </div>
            <div class="info">
              <div class="news-title">博华科技参加第十一届石油化工设备维护检修技术交流会</div>
              <div class="date">2020年9月25日</div>
              <a href="news_view.html" class="more">了解更多</a>
            </div>
          </li>
          <li class="news-item">
            <div class="img">
              <img src="/public/img/news01.jpg" alt="博华科技参加第十一届石油化工设备维护检修技术交流会">
            </div>
            <div class="info">
              <div class="news-title">博华科技参加第十一届石油化工设备维护检修技术交流会</div>
              <div class="date">2020年9月25日</div>
              <a href="news_view.html" class="more">了解更多</a>
            </div>
          </li>
          <li class="news-item">
            <div class="img">
              <img src="/public/img/news01.jpg" alt="博华科技参加第十一届石油化工设备维护检修技术交流会">
            </div>
            <div class="info">
              <div class="news-title">博华科技参加第十一届石油化工设备维护检修技术交流会</div>
              <div class="date">2020年9月25日</div>
              <a href="news_view.html" class="more">了解更多</a>
            </div>
          </li>
        </ul>
      </div>
    </section>
    <!-- 引入pagelist -->
    <%= require("html-loader!../../common/pagelist/index.html") %>
    <!-- 引入公共页尾 -->
    <%= require("html-loader!../../common/footer/index.html") %>
</body>

</html>