<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>智能报警-工业AI</title>
</head>

<body>
  <!-- 引入公共页头 -->
  <%= require("html-loader!../../common/header/index.html") %>
  <%= require("html-loader!../header/index.html") %>
    <section class="module contact-container wow fadeInUp">
      <div class="view-cont center">
        <div class="title wow fadeInUp">
          公司联系方式及地址
        </div>
        <ul class="contact-list">
          <li class="contact-item">
            <div class="contact-view center">
              <div class="map wow fadeInLeft">
                <img src="/public/img/map01.jpg" alt="公司总部">
              </div>
              <div class="cont wow fadeInRight">
                <div class="company">公司总部</div>
                <div class="info">
                  <p>公司总机：010-64446199</p>
                  <p>公司地址：北京市朝阳区樱花园东街5号新化信大厦3层</p>
                  <p>公司邮编：100029</p>
                  <p>销售电话：010-64446199-8302</p>
                  <p>招聘电话：010-64446199-8105</p>
                  <p>客服电话：400-6858-525（工作日8:00-17:00）</p>
                  <p>公司传真：010-64446196</p>
                  <p>公司邮箱：info@bhxz.net</p>
                </div>
              </div>
            </div>
          </li>
          <li class="contact-item">
            <div class="contact-view center">
              <div class="map wow fadeInLeft">
                <img src="/public/img/map01.jpg" alt="生产基地">
              </div>
              <div class="cont wow fadeInRight">
                <div class="company">生产基地</div>
                <div class="info">
                  <p>公司总机：010-64446199</p>
                  <p>公司地址：北京市朝阳区樱花园东街5号新化信大厦3层</p>
                  <p>公司邮编：100029</p>
                  <p>销售电话：010-64446199-8302</p>
                  <p>招聘电话：010-64446199-8105</p>
                  <p>客服电话：400-6858-525（工作日8:00-17:00）</p>
                  <p>公司传真：010-64446196</p>
                  <p>公司邮箱：info@bhxz.net</p>
                </div>
              </div>
            </div>
          </li>
        </ul>
      </div>
    </section>
    <!-- 引入公共页尾 -->
    <%= require("html-loader!../../common/footer/index.html") %>
</body>

</html>